@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;600;700&display=swap");

body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
}
.title {
  text-align: center;
  margin-top: 60px;
  font-weight: 100;
  font-size: 46px;
}
.container {
  max-width: 80%;
  margin: auto;
}
.row {
  display: block;
}
.col {
  display: inline-flex;
  width: 340px;
  margin: 40px;
}
.card {
  border-radius: 20px;
  transition: all 0.4s;
}
.card-img {
  border-radius: 20px;
}
.card-title {
  background-color: rgba(241, 241, 241, 1);
  padding: 20px;
  height: 110px;
  min-width: 300px;
  border-radius: 20px;
  margin-top: -70px;
  margin-right: -30px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bolder;
  transition: all 0.4s;
  color: black;
}
.card-detail {
  height: calc(100% + 40px);
  padding: 40px;
  background-color: rgba(241, 241, 241, 1);
  margin-top: -140px;
}
.card-overlay {
  display: grid;
}
.card:hover {
  .card-title {
    margin-left: 0px;
    margin-top: -140px;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .card-detail {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
}
a {
  text-decoration: none !important;
}
.pt-5 {
  padding-top: 3rem;
}
@media screen and (max-width: 960px) {
  .card-detail {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .card:hover {
    .card-detail {
      margin-top: -40px;
    }
  }
}
